body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calcBody{
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    flex: 1 1 auto;
}

.calcDisplay{
    display: flex;
}

.calcControls{
    display: flex;
}

.digits button{
    background-color: orange;
    padding: 5px;
}